{% extends 'ituring/public/base.html' %}
{% block content %}
    <div class="container">
        {% include 'ituring/public/hot_tags.html' %}
        <div class="row">
            <div class="main-content col-md-9">
                <div class="hot-books">
                    <h4 class="title">热门图书</h4>
                    <ul class="book-sets">
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/18030f78ace3c062b6f6" alt="">
                                    <h5>Django企业开发实战：高效Python Web框架指南</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/17071d658353b2fc66bb" alt="">
                                    <h5>Head First JavaScript程序设计</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/18030f78ace3c062b6f6" alt="">
                                    <h5>Django企业开发实战：高效Python Web框架指南</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/17071d658353b2fc66bb" alt="">
                                    <h5>Head First JavaScript程序设计</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/18030f78ace3c062b6f6" alt="">
                                    <h5>Django企业开发实战：高效Python Web框架指南</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/17071d658353b2fc66bb" alt="">
                                    <h5>Head First JavaScript程序设计</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/18030f78ace3c062b6f6" alt="">
                                    <h5>Django企业开发实战：高效Python Web框架指南</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/17071d658353b2fc66bb" alt="">
                                    <h5>Head First JavaScript程序设计</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/18030f78ace3c062b6f6" alt="">
                                    <h5>Django企业开发实战：高效Python Web框架指南</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="book">
                                <a href="">
                                    <img src="http://file.ituring.com.cn/SmallCover/17071d658353b2fc66bb" alt="">
                                    <h5>Head First JavaScript程序设计</h5>
                                    <p class="author">MICK</p>
                                    <p class="translator">吴炎昌 译</p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="recommend-article">
                    <h4 class="title">推荐文章</h4>
                    <ul>

                        <li>
                            <a href="">
                                <img src="http://file.ituring.com.cn/LargeAvatar/00252479581467048493" alt="">
                            </a>
                            <div class="detail">
                                <h5><a href="">数学趣题：分红包</a></h5>
                                <p>题目

                                    刘新宇老师前不久在“图灵社区：同构——分红包问题”中给出：
                                    高个子舅舅春节回家，想给三个可爱的孩子小明、小强、小红一些红包用来买过年的玩具。他准备了6个红包，每个里面10元钱。每个小朋友肯定能得到红包，但不一定均分。问一共有几种发的方法。
                                    ...
                                    作为扩展，这里…...</p>
                                <div class="author">
                                    <a href="">黄志斌</a>
                                    <span>发表于 2019-06-07</span>
                                </div>
                            </div>
                            <a href="" class="vote">
                                <span>8</span><span>推荐</span>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img src="http://file.ituring.com.cn/LargeAvatar/00252479581467048493" alt="">
                            </a>
                            <div class="detail">
                                <h5><a href="">数学趣题：分红包</a></h5>
                                <p>题目

                                    刘新宇老师前不久在“图灵社区：同构——分红包问题”中给出：
                                    高个子舅舅春节回家，想给三个可爱的孩子小明、小强、小红一些红包用来买过年的玩具。他准备了6个红包，每个里面10元钱。每个小朋友肯定能得到红包，但不一定均分。问一共有几种发的方法。
                                    ...
                                    作为扩展，这里…...</p>
                                <div class="author">
                                    <a href="">黄志斌</a>
                                    <span>发表于 2019-06-07</span>
                                </div>
                            </div>
                            <a href="" class="vote">
                                <span>8</span><span>推荐</span>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img src="http://file.ituring.com.cn/LargeAvatar/00252479581467048493" alt="">
                            </a>
                            <div class="detail">
                                <h5><a href="">数学趣题：分红包</a></h5>
                                <p>题目

                                    刘新宇老师前不久在“图灵社区：同构——分红包问题”中给出：
                                    高个子舅舅春节回家，想给三个可爱的孩子小明、小强、小红一些红包用来买过年的玩具。他准备了6个红包，每个里面10元钱。每个小朋友肯定能得到红包，但不一定均分。问一共有几种发的方法。
                                    ...
                                    作为扩展，这里…...</p>
                                <div class="author">
                                    <a href="">黄志斌</a>
                                    <span>发表于 2019-06-07</span>
                                </div>
                            </div>
                            <a href="" class="vote">
                                <span>8</span><span>推荐</span>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img src="http://file.ituring.com.cn/LargeAvatar/00252479581467048493" alt="">
                            </a>
                            <div class="detail">
                                <h5><a href="">数学趣题：分红包</a></h5>
                                <p>题目

                                    刘新宇老师前不久在“图灵社区：同构——分红包问题”中给出：
                                    高个子舅舅春节回家，想给三个可爱的孩子小明、小强、小红一些红包用来买过年的玩具。他准备了6个红包，每个里面10元钱。每个小朋友肯定能得到红包，但不一定均分。问一共有几种发的方法。
                                    ...
                                    作为扩展，这里…...</p>
                                <div class="author">
                                    <a href="">黄志斌</a>
                                    <span>发表于 2019-06-07</span>
                                </div>
                            </div>
                            <a href="" class="vote">
                                <span>8</span><span>推荐</span>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img src="http://file.ituring.com.cn/LargeAvatar/00252479581467048493" alt="">
                            </a>
                            <div class="detail">
                                <h5><a href="">数学趣题：分红包</a></h5>
                                <p>题目

                                    刘新宇老师前不久在“图灵社区：同构——分红包问题”中给出：
                                    高个子舅舅春节回家，想给三个可爱的孩子小明、小强、小红一些红包用来买过年的玩具。他准备了6个红包，每个里面10元钱。每个小朋友肯定能得到红包，但不一定均分。问一共有几种发的方法。
                                    ...
                                    作为扩展，这里…...</p>
                                <div class="author">
                                    <a href="">黄志斌</a>
                                    <span>发表于 2019-06-07</span>
                                </div>
                            </div>
                            <a href="" class="vote">
                                <span>8</span><span>推荐</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="title">纸书预售中</h4>
            </div>
        </div>
    </div>
{% endblock %}
